<footer>
  <!-- +++++ Footer Section +++++ -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>My Location</h4>
          <p>
            Somewhere in the <a href="http://en.wikipedia.org/wiki/The_bush#Australia" target="_blank">Aussie bush.</a><br/>Not far from <a href="http://www.sydney.com" target="_blank">Sydney</a>, Australia.
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>My Links</h4>
          <p>
            <a href="http://twitter.com/jadarbyshire" target="_blank">Twitter</a><br/>
            <a href="http://lnkd.in/rwqkZa" target="_blank">LinkedIn</a><br/>
            <a href="http://github.com/darbio" target="_blank">GitHub</a><br/>
            <a href="http://stackoverflow.com/users/200653/" target="_blank">Stack Overflow</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>About James</h4>
          <p>
            Senior Enterprise Applications Architect at NSW Rural Fire Service.<br/>
            Certified Scrum Master.<br/>
            Volunteer Fire-Fighter (RAFT).<br/>
            Australian Yorkshireman!
          </p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>
</footer>
