---
layout: default
---
<!-- +++++ Post +++++ -->
<div class="white">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p><img src="http://www.gravatar.com/avatar/ce197ab23bedb46c953a2582e00cade3?s=155&d=mm" width="50px" height="50px" class="img-circle"> <ba>darbio</ba></p>
				<p><bd>{{ page.date | date_to_long_string }}</bd></p>
				<h1>{{ page.title }}</h1>
				<article>
					{{content}}
				</article>
				<br>
				<p><a href="/blog">&larr; Back</a></p>
			</div>

		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->
